@mixin personal-info-text {
    font-size: var(--size-3);
    color: var(--secondary-dark);
    font-weight: 400;
}

@mixin personal-sub-info {
    font-size: var(--size-3);
    color: var(--secondary-dark);
    opacity: 0.7;
    font-weight: 400;
}

.home-container {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;

    .personal-container {
        display: flex;
        width: 30%;
        height: 100%;
        background-color: var(--theme-color);
        align-items: center;
        flex-direction: column;

        .name-container {
            display: none;
        }

        .avatar-container {
            display: flex;
            justify-content: center;
            padding: 16px 0;

            .avatar-bounder {
                background: var(--color-white);
                border-radius: 50%;
                width: 165px;
                height: 165px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                }
            }
        }
    }

    .work-container {
        display: flex;
        width: 70%;
        height: 100%;
        background-color: var(--color-white);
        justify-content: center;
        padding: 16px;

        .pro-skills,
        .about-me {
            display: none;
        }

        .name-container {
            display: flex;
            flex-direction: column;
            height: 130px;
            width: 100%;
            align-items: center;
            justify-content: center;
            background: var(--theme-color);

            .name {
                font-size: var(--size-8);
                font-weight: bold;
            }

            .job {
                font-size: var(--size-2);
                text-transform: uppercase;
                padding: 8px 0;
            }
        }
    }

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 0;
        width: 100%;

        svg {
            margin-right: 8px;
            fill: var(--secondary-dark);
        }
        
        div {
            font-size: var(--size-4);
            color: var(--secondary-dark);
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 32px;
        padding-bottom: 8px;
        
        svg {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }

    .personal-info-container {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        padding: 0 8px 8px 16px;

        .info-content-long,
        .info-content {
            @include personal-info-text;
            flex: 1;
        }

        .info-subcontent {
            @include personal-sub-info;
        }

        .info-content-array {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        >.info-content,
        >.info-content-long {
            padding: 0 0 0 32px;
        }
    }

    .skills-container {
        padding-left: 32px;
    }

    .skill-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .skill-label {
            width: 40%;
            @include personal-info-text;
        }
    }

    .list-bullet {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: var(--secondary-dark);
    }

    .progress-container {
        display: flex;
        flex: 1;
        height: 8px;
        background-color: var(--color-white);

        > div {
            background-color: var(--ascend-default);
        }
    }
}